@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-BlackItalic.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-BlackItalic.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-BlackItalic.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-LightItalic.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-LightItalic.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-LightItalic.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Light.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Light.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Light.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Light.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-RegularItalic.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-RegularItalic.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-RegularItalic.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-BoldItalic.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-BoldItalic.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-BoldItalic.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Medium.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Medium.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Medium.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-MediumItalic.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-MediumItalic.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-MediumItalic.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Regular.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Regular.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Regular.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Bold.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Bold.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Bold.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-ThinItalic.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-ThinItalic.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-ThinItalic.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Thin.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Thin.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Thin.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro DEMO';
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Black.eot');
    src: url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Black.eot?#iefix') format('embedded-opentype'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Black.woff2') format('woff2'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Black.woff') format('woff'),
    url('../../../../../../../WebstormProjects/CSS-HTML-HW/fonts/CeraProDEMO-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

