:root {
    --bg-color: #EFEFEF;
    --primary-color: #F13C6E;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.header__top {
    background-color: var(--bg-color);
    margin-bottom: 20px;
}

.header__content-container {
    margin: 0 auto;
    max-width: 1110px;
}

.header__top-menu-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 17px 0;
}

.header__logo {
    width: 258px;
    height: 80px;
}

.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header__wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header__wrapper-btn-call {
    padding: 13px 27px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    font-size: 14px;
    line-height: 5px;
    width: 170px;
    text-align: center;
}

.header__wrapper-phone-number {
    font-size: 16px;
}

.header__bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__bottom-menu-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
    font-weight: bolder;
}

.hero {
    max-width: 1920px;
    height: 604px;
    margin: 0 auto 80px;
    background-image: url("./../img/hero.png");
}

.hero__content-container {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    margin: 0 auto;
    padding: 192px 0;
}

.hero__subtitle {
    width: 308px;
}

.hero__title,
.hero__subtitle,
.hero__btn-more {
    color: white;
}

.hero__title {
    font-size: 48px;
    margin-bottom: 50px;
}

.hero__subtitle {
    font-size: 14px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.hero__btn-more {
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid white;
    padding: 13px 27px;
    width: 170px;
    text-align: center;
    line-height: 11px;
}

.main {
    background: var(--bg-color);
    max-width: 1920px;
    margin: 0 auto;
}

.special,
.viewed {
    padding-bottom: 100px;
}

.special__content-container,
.viewed__content-container {
    max-width: 1110px;
    margin: 0 auto;
}

.special__list,
.viewed__list {
    display: flex;
    gap: 30px;
}

.special__list-item,
.viewed__list-item {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.special__chair,
.viewed__chair {
    width: 125px;
    height: 166px;
}

.special__subtitle,
.viewed__subtitle {
    max-width: 195px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
}

.special__btn-buy,
.viewed__btn-buy {
    background-color: var(--primary-color);
    color: white;
    padding: 9px 53px;
    border-radius: 30px;
}

.special__title,
.viewed__title {
    margin-bottom: 38px;
    font-size: 24px;
    font-weight: bold;
}

.viewed__price,
.special__price {
    font-weight: bold;
    font-size: 21px;
}

.additional {
    margin-bottom: 100px;
}

.additional__content-container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.additional__wrapper {
    background-color: var(--primary-color);
    width: 540px;
    padding: 0 40px;
}

.additional__title,
.additional__subtitle {
    color: white;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.additional__title {
    font-size: 18px;
    padding-top: 35px;
}

.additional__subtitle {
    font-size: 14px;
    width: 129px;
}

.additional__email,
.additional__store-map {
    border-radius: 30px;
    margin-bottom: 35px;
}

.additional__email {
    border: none;
    width: 225px;
    height: 35px;
    padding-left: 25px;
    padding-right: 10px;
}

.additional__store-map {
    display: inline-block;
    color: white;
    text-align: center;
    width: 170px;
    font-size: 14px;
    padding: 9px 53px;
    border: 1px solid white;
}

.additional__wrapper {
    position: relative;
}

.additional__wrapper:first-child::after {
    content: url("/img/envelope.png");
    position: absolute;
    top: 36px;
    right: 45px;
}

.additional__wrapper:nth-child(2)::after {
    content: url("/img/truck.png");
    position: absolute;
    top: 56px;
    right: 45px;
}

.footer__content-container-list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 60px;
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 60px;

}

.footer__list-item--title {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: bolder;
}

.footer__list-item {
    width: 255px;
}

.footer__list-item--subtitle {
    margin-bottom: 10px;
    font-size: 12px;
}

.footer__list-item--subtitle:last-of-type {
    margin-bottom: 0;
}

.footer__list-item--title::after {
    content: '';
    display: flex;
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.18);
    margin: 20px 0;
}

.footer__content-container-socials {
    display: flex;
    margin: 0 auto;
    max-width: 1110px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.footer__middle {
    border-top: 1px solid rgba(0, 0, 0, 0.11);
}

.footer__wrapper-socials {
    display: flex;
    gap: 20px;
}

.footer__wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.footer__socials {
    gap: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__wrapper-btn-call {
    padding: 13px 27px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    font-size: 14px;
    line-height: 5px;
    width: 170px;
    text-align: center;
    color: black;
}

.footer__bottom {
    background-color: var(--bg-color);
}

.footer__content-container-rights {
    display: flex;
    align-items: center;
    width: 1110px;
    justify-content: space-between;
    margin: 0 auto;
    height: 64px;
}

.footer__rights-reserved {
    font-size: 12px;
    color: #828282;
}

